name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
      - run: npm install
      - run: npm run build
      - run: npm run test
      - run: npm run lint
