name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.14.0
      - run: npm install
      - run: npm run build
      - run: npm run test
      - run: npm run lint
